/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 28, 2014, 1:25:13 PM
    Author     : Mahbub
*/

h2.demo-title{
    
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin: 24px 0;
      text-align: center;
    
}